$gap: 4rem;

.info {
  display: flex;
  flex-direction: column;
  gap: $gap;

  div {
    display: flex;
    gap: 1rem;

    h2 {
      font-size: 245%;
    }

    p {
      line-height: 1.8;
      margin-left: 0.6rem;
      text-align: justify;
      font-size: 115%;
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;

  h2 {
    font-size: 225%;
  }
}

.programs {
  height: 3.5rem;
  width: auto;
}

.image {
  padding: 0 2rem;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    filter: drop-shadow(2px 5px 10px #97b1e5);
    position: relative;
    top: 10px;
  }

  &.clips img {
    scale: 0.9;
  }
}

@media (max-width: 768px) {
  .info {
    font-size: 0.9rem;

    div {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        text-align: center;
      }
    }
  }

  .apps {
    flex-direction: column !important;
  }

  .text {
    flex-direction: column !important;
    width: 100%;

    div {
      flex-direction: row;
      scale: 0.75;
      margin: -1rem 0 -0.5rem;
    }
  }

  .programs {
    width: min(25rem, 100%);
    height: auto;
  }

  .image {
    margin: -2rem 0 0;
    width: unset;
    scale: 0.8;

    img {
      scale: 1.15;
    }

    &.clips img {
      scale: 1.05;
    }
  }
}

@media (max-width: 480px) {
  .image {
    width: 60vw;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
