.navbar {
  z-index: 30;
  padding: 1rem 1rem;
  display: flex;
  font-size: 95%;
  font-weight: bold;
  color: #ffffff;

  $background: #000000;
  background: linear-gradient(rgba($background, 1), rgba($background, 0));

  @media (max-width: 480px) {
    background: radial-gradient(
      farthest-corner at 100vw 0,
      rgba($background, 1),
      rgba($background, 0)
    );
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar,
.buttons {
  button,
  a {
    border-radius: 0.4rem;
    background-color: unset;
    transition: 0.15s ease-out;
  }

  @media (min-width: 480px) {
    a:hover {
      backdrop-filter: blur(3px);
      background-color: rgba(#235cc6, 0.35);
      box-shadow: 0 3px 10px -2px #000000;

      div,
      p,
      img {
        opacity: 1;
        transform: translateY(-1px);
      }
    }
  }
}

.buttons {
  z-index: 50;
  width: 100%;

  div {
    display: flex;
    align-items: center;
  }

  .text a {
    padding: 1rem 1.5rem;
  }

  .icons a {
    padding: 1rem;
    aspect-ratio: 1/1;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    div,
    p,
    img {
      opacity: 0.9;
      transition: 0.2s ease-in-out;
    }

    img {
      position: relative;
      top: 1px;
    }
  }
}

.hamburger {
  display: none;

  z-index: 20;
  padding: 1rem;
  aspect-ratio: 1/1;

  div {
    $height: 3px;
    $width: 1.5rem;
    $background-color: #ffffff;
    $transition: 0.25s ease-in-out;

    height: $height;
    width: $width;
    background-color: $background-color;
    transition: $transition;

    $distance: 0.6rem;

    &::before,
    &::after {
      content: "";
      position: absolute;

      height: $height;
      width: $width;
      background-color: $background-color;
      transition: $transition;
    }

    &::before {
      transform: translateY(-$distance); // to up
    }

    &::after {
      transform: translateY($distance); // to down
    }

    &.active {
      background: transparent;
      $rotate: 45deg;

      &::before {
        transform: rotate($rotate);
      }

      &::after {
        transform: rotate(-$rotate);
      }
    }
  }
}

.mobile {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: -100vw;

  &.active {
    right: 0;
  }

  padding: 6rem 1rem 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  font-size: 95%;
  font-weight: bold;
  backdrop-filter: blur(3px);
  transition: 0.15s ease-in-out;
  overflow-y: auto;

  $background: #000000;
  background-color: rgba($background, 0.1);
  box-shadow: 15px 0 30px 50px rgba($background, 0.1);

  .buttons {
    width: 100%;
    position: relative;
    right: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;

    .text,
    .icons {
      a {
        background-color: #082552;

        @media (min-width: 480px) {
          &:hover {
            background-color: #243e68;
          }
        }
      }
    }

    .text {
      flex-direction: column;
      gap: 0.5rem;

      a {
        min-width: 16rem;

        @media (max-width: 320px) {
          padding: 5vw;
          font-size: 5vw;
        }
      }
    }

    .icons {
      width: 100%;
      display: none;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;

      a {
        padding: 4vw;
        width: min(4.5rem, 17vw);
        aspect-ratio: 1.1/1;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    .text {
      display: none;
    }

    .icons {
      flex-direction: row-reverse;
    }
  }

  .hamburger {
    display: block;
  }

  .mobile.active {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    .icons {
      display: none;
    }
  }

  .mobile {
    width: 100%;
    overflow-y: auto;
    background-color: #000000;

    .buttons {
      padding: 0 6%;
      right: 0;

      a {
        width: 100%;
      }

      .text {
        gap: 3vw;

        a {
          min-width: unset;
        }
      }

      .icons {
        display: grid;
      }
    }
  }
}
