// title holder
.title_view {
  width: 100%;
  height: 100vh;
}

// upper navigation buttons
.navbar {
  z-index: 10;
  padding: 1rem 1rem;
  height: 5.5rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 85%;
  font-weight: bold;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  button {
    padding: 6px 20px;
    height: 3rem;
  }
}

// hamburger button
.hamburger {
  display: none; // hidden by default

  padding: 15px 5px;
  margin-left: -1rem;

  .bar {
    width: 1.4rem;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: 0.25s, filter 1s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 1.4rem;
      height: 3px;
      border-radius: 5px;
      background-color: #ffffff;
      transition: 0.25s, filter 1s ease-in-out;
    }

    &::before {
      transform: translateY(-0.6rem);
    }

    &::after {
      transform: translateY(0.6rem);
    }

    &.active {
      background: transparent;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

// author name
.title {
  margin: 16vh 8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .subtitle {
    font-size: 200%;
  }

  .name {
    position: relative;
    right: 15px;
  }

  h2 {
    color: #c3e9ff;
  }
}

// show buttons only on mobile
.mobile_menu {
  // hidden by default
  visibility: hidden;
  opacity: 0;

  padding: 5.5rem 1rem 1rem;
  height: max(38rem, 100vh);
  position: absolute;
  top: 0;
  right: -100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  font-size: 95%;
  font-weight: bold;
  box-shadow: -5px 0 20px 3px #000000;
  background-color: rgba($color: #000000, $alpha: 0.8);
  transition: 0.1s ease-in-out;

  &.active {
    right: 0;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .main {
    button {
      padding: 15px 50px;
      width: 100%;
    }
  }

  .icons {
    display: none; // hidden by default

    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

    button {
      width: 4rem;
      aspect-ratio: 1.1/1;
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    .main {
      display: none;
    }
    .icons {
      flex-direction: row-reverse;
    }
  }

  .hamburger {
    display: block;
  }

  .mobile_menu.active {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}

@media (max-width: 768px) {
  .title {
    margin: 8% 0 0 12%;
    font-size: max(2.1vw, 85%);
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: row-reverse;

    .icons {
      display: none;
    }
  }

  .title {
    margin: 6% 5% 0 12%;
    font-size: 3.1vw;
  }

  .mobile_menu {
    width: 100%;
    background-color: #000000;

    .icons {
      display: flex;
    }
  }
}
