.container {
  padding: min(3rem, 5%) 5% 5%;
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @media (max-width: 768px) {
    padding-bottom: 10vw;
    gap: 6vw;
  }

  .title {
    font-size: 225%;

    @media (max-width: 768px) {
    }
  }

  .soon {
    opacity: 50%;
  }

  @media (max-width: 768px) {
    padding-bottom: 10vw;
    gap: 6vw;

    .title {
      font-size: 5.5vw;
    }

    .soon {
      font-size: 3.5vw;
    }
  }
}

.formContainer {
  margin-top: 2rem;
  width: var(--global-width);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  h2 {
    font-size: 200%;
  }

  @media (max-width: 768px) {
    gap: 3vw;

    h2 {
      font-size: 5vw;
    }
  }
}

.contactForm {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  background-color: #0b111f;
  text-shadow: 0 0 1px var(--background);
  box-shadow: 2px 3px 12px -2px rgba(#000000, 0.35);

  @media (max-width: 768px) {
    padding: 6vw 4vw;
    gap: 5.5vw;
    font-size: 3.25vw;
    align-items: center;
  }

  label {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  p {
    opacity: 85%;
    font-size: 110%;
  }

  input,
  textarea {
    width: 100%;
    padding: 1rem;
    font-size: 105%;
    font-weight: 300;
    background-color: #0b111f;
    border: 1px solid transparent;
    filter: brightness(1.5);

    @media (max-width: 768px) {
      padding: 2.5vw;
    }

    &:focus {
      border: 1px solid var(--background);
    }

    &::placeholder {
      opacity: 30%;
      font-weight: 400;
      user-select: none;
    }
  }

  textarea {
    position: relative;
    resize: vertical;
    min-height: 10rem;
  }

  .lengthInfo {
    opacity: 30%;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 80%;
    pointer-events: none;
    user-select: none;
  }

  span {
    color: #ff4d4d;
    position: relative;
    bottom: 1px;
    font-size: 95%;
    user-select: none;
  }

  button {
    padding: 1rem 2.5rem;
    position: relative;
    bottom: 0;
    width: auto;
    background-color: var(--background);
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;

    @media (max-width: 768px) {
      padding: 3vw 7.5vw;
    }

    &:hover {
      bottom: 2px;
      filter: brightness(2) saturate(0.5);
    }
  }
}
