// global styles
:root {
  color-scheme: dark;

  --primary: #121212;
  --secondary: #f0f0f0;
  --background: #010714;

  --header-height: 4.5rem;
  --global-width: min(100%, 1440px);
}

// tab focus border
:focus-visible {
  box-shadow: 0 0 1px 2px var(--secondary);
}

// custom scrollbar
::-webkit-scrollbar {
  width: 14px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: 2px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: #ffffff;
  }
}

// default reset
html,
body {
  color: var(--secondary);
  background-color: var(--background);
  -webkit-tap-highlight-color: transparent;
}

b,
h1,
h2,
h3 {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

a,
button {
  transition: 0.2s ease-out;
  cursor: pointer;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: var(--header-height);
  width: 100%;
  min-height: calc(100svh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
footer {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    width: var(--global-width);
    flex-direction: row;
    justify-content: space-between;
  }
}

header {
  position: fixed;
  top: 0;

  a,
  button {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #0b111f;
      box-shadow: 0 3px 10px -2px rgba(#000000, 0.8);
      transform: translateY(-1px);
      filter: brightness(2);
    }
  }
}

footer {
  padding: 1.5rem 3%;
  font-size: min(1.4vw, 95%);
  font-weight: lighter;
  background-color: #000000;

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    padding: min(5vw, 1.5rem) 1%;
    font-size: min(3vw, 100%);

    section {
      flex-direction: column;
      align-items: center;
      gap: 1.25vw;
    }
  }
}
