@import "./loader.scss"; // globalLoader style

// dark-mode by default
:root {
  color-scheme: dark only;
}

// keyboard navigation highlight
*:focus-visible {
  box-shadow: 0px 0px 18px 5px rgba($color: #ededed, $alpha: 0.65);
}

// selection color
::selection {
  color: #ededed;
  background: #3c66a9;
}

// fonts
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway_Regular.ttf") format("truetype");
  size-adjust: 110%;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway_SemiBold.ttf") format("truetype");
  size-adjust: 110%;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Brutal Type";
  src: url("/fonts/Brutal_Type_Regular.ttf") format("truetype");
  unicode-range: U+30-39;
  size-adjust: 105%;
  font-display: swap;
}

@font-face {
  font-family: "Gentium Plus";
  src: url("/fonts/Gentium_Plus_Bold.ttf") format("truetype");
  font-display: swap;
}

// global settings
html,
body {
  font-family: "Brutal Type", "Raleway";
  background-color: #000000;
  color: #efefef;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow: hidden;
}

footer {
  z-index: 10;
  padding: 1rem 5rem 1rem 2rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  background-color: #1a1a1a;

  p {
    opacity: 0.85;
    font-size: 85%;
  }
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 450%;
  font-weight: 600;
}

h2 {
  font-size: 200%;
}

a,
button {
  cursor: pointer;
}

button {
  border-radius: 0.35rem;
  background-color: rgba($color: #020e34, $alpha: 0.8);
  transition: 0.1s background-color ease-in-out;

  $background-color: rgba(
    $color: #042c4f,
    $alpha: 0.9,
  );

  @media (min-width: 480px) {
    &:hover {
      background-color: $background-color;
    }
  }

  @media (max-width: 480px) {
    background-color: $background-color;
  }
}

.icon {
  position: relative;
  top: 3px;
  filter: grayscale(1) invert(1);
}

.reveal {
  opacity: 0;
  position: relative;
  transform: translateY(150px);
  transition: all 1s ease !important;

  &.active {
    opacity: 1;
    transform: translateY(0px);
  }
}

u {
  text-decoration: underline;
}

b {
  font-weight: bold;
}
