.parallax_background {
  user-select: none;

  div {
    width: 100%;
    height: 100%;
  }

  img {
    max-inline-size: unset;
  }
}

.title {
  height: max(42rem, min(75rem, 100vh));

  h2 {
    font-size: 165%;
    font-weight: normal;
  }
}

$distance: 4rem;

.info {
  padding: $distance 4.5rem 5rem;
  background-color: #ffffff;
  color: #313131;

  @media (max-width: 768px) {
    padding: 2.5rem 2rem 4rem;
  }
}

.scroll_snipped {
  opacity: 0.8;
  height: 0;
  position: relative;
  bottom: calc($distance * 2);
  text-align: center;
  color: #ffffff;
  font-size: 90%;
  cursor: pointer;
  user-select: none;
  transition: 0.2s opacity ease-in-out;

  @media (min-width: 480px) {
    &:hover {
      opacity: 1;
    }
  }
}

.motto {
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6ff;
  font-family: "Gentium Plus";
  font-style: italic;

  .parallax_content {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    text-shadow: 1px 1px 16px #000000;

    h2 {
      font-size: 245%;
      font-weight: bold;
    }

    p {
      font-size: 150%;
      position: relative;
      left: 16rem;
    }

    @media (max-width: 1200px) {
      font-size: 1.35vw;

      p {
        left: 22%;
      }
    }

    @media (max-width: 768px) {
      padding: 1rem 2rem;
      font-size: max(1.7vw, 72%);
    }

    @media (max-width: 480px) {
      gap: 1rem;
      font-size: 2.4vw;

      p {
        position: unset;
      }
    }
  }

  .parallax_background {
    filter: blur(2px);
  }
}

.projects {
  padding: 5rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (max-width: 768px) {
    padding: 4rem 0 1rem;
  }

  @media (max-width: 480px) {
    padding: 3rem 0 0.5rem;
  }
}

$margin: -10rem;

.wave2 {
  opacity: 0.9;
  position: relative;
  top: $margin;
}

.contact {
  margin-top: $margin - 1rem;
  padding: 1rem 4.5rem;
  height: 30rem;
  background-color: #ffffff;
  color: #313131;

  @media (max-width: 768px) {
    padding: 0rem 5% 1rem;
  }

  @media (max-width: 480px) {
    padding-top: 0.5rem;
  }
}

.scroll_button {
  visibility: hidden;
  opacity: 0;

  height: 3.2rem;
  width: 3.2rem;
  position: fixed;
  bottom: 1rem;
  right: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020e34;
  transition: 0.1s ease-in-out;
  user-select: none;

  @media (max-width: 768px) {
    scale: 0.8;
    bottom: 0.8rem;
    right: 1rem;
  }

  @media (min-width: 480px) {
    &:hover {
      opacity: 1;
      background-color: #042c4f;
    }
  }

  img {
    top: 0;
    scale: 0.6;
  }
}
