// parallax effect
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax_group {
  position: relative;
  height: 110vh;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.parallax_layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax_layer_base {
  z-index: 3;
  padding: 3rem 5rem;
  transform: translateZ(0);

  h2 {
    font-size: 250%;
    font-weight: bold;
  }
}

.parallax_layer_back {
  display: flex;
  justify-content: center;
  transform: translateZ(-1px) scale(2);

  div {
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  img {
    max-inline-size: unset;
    // max-block-size: unset;
  }
}

// sections
.title {
  z-index: 3;
  height: max(38rem, 100vh);

  .parallax_layer_base {
    padding: 0;

    h2 {
      font-size: 160%;
      font-weight: normal;
    }
  }

  .parallax_layer_back {
    z-index: -1;
  }
}

.about {
  z-index: 4;

  .parallax_layer_base {
    background-color: #ffffff;
    color: #000000;
  }
}

.scroll_snipped {
  z-index: 10;
  opacity: 0.8;
  position: relative;
  bottom: 6rem;
  height: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 90%;
  transition: 0.2s opacity ease-in-out;
  cursor: pointer;

  @media (min-width: 480px) {
    &:hover {
      opacity: 1;
    }
  }
}

.motto {
  z-index: 3;
  height: 20rem;

  .parallax_layer_base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(3px);

    p {
      font-size: 300%;
      font-weight: bold;
      text-shadow: 1px 1px 20px #000000;
    }
  }

  .parallax_layer_back {
    height: 100vh;
  }
}

.projects {
  z-index: 4;

  .parallax_layer_base {
    background-color: #000000;
  }
}

.footer {
  z-index: 10;
  height: 4rem;

  .parallax_layer_base {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    font-size: 90%;
    background-color: #1a1a1a;
  }
}

// scroll to top
.scroll_button {
  // hidden by default
  visibility: hidden;
  opacity: 0;

  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020e34;
  transition: 0.2s opacity ease-in-out;

  img {
    top: 0;
    scale: 0.6;
  }

  @media (min-width: 480px) {
    &:hover {
      opacity: 1;
      background-color: #042c4f;
    }
  }
}

@media (max-width: 768px) {
  .parallax_layer_base {
    padding: 2rem 6%;
  }

  .scroll_button {
    scale: 0.8;
    bottom: 0.8rem;
    right: 1rem;
  }
}
